# Banco de dados principal
DATABASE_URL=postgresql://<usuario>:<senha>@localhost/orders_management

# Banco de dados de testes (usado pelo pytest)
DATABASE_URL_TEST=postgresql://<usuario>:<senha>@localhost/orders_management_test

# Chave secreta para assinatura do JWT
SECRET_KEY=your-secret-key
